/* Hedear */
.hero-header {
  position: relative;
  background-image: url(../images/Slider.jpg);
  background-repeat: no-repeat;
  background-position: top right;
}
.side-bar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 115px;
  height: 100%;
  background-color: var(--bg-color);
  padding-bottom: 40px;
}
.socials__list {
  display: flex;
  align-items: center;
}
.socials__list--position {
  transform: rotate(-90deg) translateX(50%);
}
.line:before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}
.socials__item {
  margin-left: 40px;
}
.socials__link {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.top-panel {
  display: flex;
  align-items: center;
  padding-top: 32px;
}
.menu {
  display: flex;
}
.menu__link {
  padding-top: 52px;
  padding-bottom: 20px;
  transition: color var(--transition-duration) var(--timing-function);
}
.tel-nav__link {
  padding-top: 52px;
  padding-bottom: 20px;
  transition: color var(--transition-duration) var(--timing-function);
}
.menu__item:not(:last-child) {
  margin-right: 40px;
}
.logo {
  display: inline-block;
  margin-right: 70px;
  z-index: 5;
}
.address {
  font-style: normal;
}

.site-nav {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--hero-title-color);
}
.tel-nav__list {
  display: flex;
  text-align: center;
  margin-left: auto;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--hero-title-color);
}
.tel-nav__btn {
  @extend %btn;
  margin-left: 40px;
  border: 1px solid var(--accent-color);
  color: var(--hero-title-color);
  &:hover {
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    transition: border-color var(--transition-duration) var(--timing-function);
  }
}
.hero-content {
  width: calc(100% / 12 * 5);
  padding-top: 150px;
  padding-bottom: 206px;
  margin-left: 200px;
}
.dark-bg {
  background-color: var(--dark-bg);
}
.hero-content__page-title {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;

  color: var(--hero-title-color);
}
.hero-content__title {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--alfa-title-color);
}
.hero-content__text {
  font-family: var(--main-text-colors);
  font-style: normal;
  font-weight: 400;
  color: var(--hero-text-cl);
  margin-bottom: 0;
}
.title-section {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: var(--title-color);
}
