/* Modal window */
.backdrop {
  position: fixed;
  background-color: rgba(23, 26, 36, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity var(--transition-duration) var(--timing-function);
}
.modal {
  position: absolute;
  width: 100%;
  max-width: 500px;
  max-height: 450px;
  background-color: var(--second-bg);
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  transition: transform var(--transition-duration) var(--timing-function);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  transition: bckground-color var(--transition-duration) var(--timing-function);
}
.close-btn:hover {
  background-color: var(--accent-color);
  transition: bckground-color var(--transition-duration) var(--timing-function);
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-coments {
  resize: none;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid var(--hero-text-cl);
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 44px;
  margin-bottom: 44px;
  height: 75px;
}
.form-input {
  background-color: transparent;
  border-bottom: 1px solid var(--hero-text-cl);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 24px;
  transition: border-color var(--transition-duration) var(--timing-function);
}
.checkbox-link {
  color: var(--accent-color);
}
.form-input::placeholder,
.form-coments::placeholder {
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 4px;
  font-size: 11px;
  line-height: 1.36;
}
.form-input:focus-within,
.form-coments:focus-within {
  border-bottom-color: var(--hero-title-color);
  outline: none;
}
.checkbox-label {
  margin-bottom: 44px;
}
.form-input:not(:placeholder-shown),
.form-coments:not(:placeholder-shown) {
  color: var(--hero-title-color);
}

// .form-input:-webkit-autofill,
// .form-input:-webkit-autofill:hover,
// .form-input:-webkit-autofill:focus {
//   -webkit-text-fill-color: #fff;
//   -webkit-box-shadow: 0 0 0px 1000px var(--dark-bg) inset;
// }
.form-input:valid:not(:placeholder-shown) {
  border-bottom-color: green;
}
.form-input:invalid:not(:placeholder-shown) {
  border-bottom-color: red;
}
.checkbox-input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
}
.checkbox-label::before {
  content: "";
  display: inline-block;
  border: 2px solid var(--hero-title-color);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  transition: background-color var(--transition-duration) var(--timing-function);
}
.checkbox-input:checked + .checkbox-label::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 2px;
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-size: contain;
  transition: background-color var(--transition-duration) var(--timing-function);
}
