:root {
  --main-font: "Open Sans", sans-serif;
  --main-text-color: #555555;
  --title-font: "Raleway", sans-serif;
  --title-color: #303030;
  --hero-title-color: #ffffff;
  --hero-text-cl: #9da4bd;
  --alfa-title-color: rgba(157, 164, 189, 0.6);
  --accent-color: #ff6c00;
  --dark-bg: #191c26;
  --second-bg: #f7f7f7;
  --bg-color: #ffffff;
  --transition-duration: 500ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
